# Build and test mysql package

name: Build and test mysql.odbc package

on: push

jobs:
  pack:
    name: Package mysql.odbc
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Choco pack
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: pack
      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: mysql.odbc.8.0.26.nupkg
  test:
    name: Test mysql.odbc
    needs: pack
    runs-on: windows-latest
    steps:
      - name: Download package
        uses: actions/download-artifact@v2
        with:
          name: package
      - name: test package
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install mysql.odbc -dv -s .
