# Build and release mysql package 

name: Build and release mysql.odbc package to Chocolatey

on:
  pull_request:
    types: [ closed ]

jobs:
  pack:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Choco pack
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: pack
      - name: Save package file name as env var
        run: |
          echo "package_name=$(Get-ChildItem *.nupkg -Name)" >> $Env:GITHUB_ENV
      - name: Choco set API key
        uses: crazy-max/ghaction-chocolatey@v1
        env:
          CHOCOLATEY_API_KEY: ${{ secrets.CHOCOLATEY_API_KEY }}
        with:
          args: apikey --key "$env:CHOCOLATEY_API_KEY" --source https://push.chocolatey.org/
      - name: Choco push package
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: push ${Env:GITHUB_ENV.package_name} --source https://push.chocolatey.org/
      
